/* #CSS:Testimonial */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.col {
    flex: 33%;
    max-width: 33%;
    box-sizing: border-box;
    padding: 15px;

}

.testimonial {
    background: #fff;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFF;
}

.name {
    margin: 20px 0 0 0;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
}

.position {
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #8f8f8f;
}

.testimonial p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    text-align: justify !important;
}

/*#CSS:Stars */
.stars {
    color: #f0932b;
    margin-bottom: 20px;
}

.star-rating .star-full:before {
    content: "\f155";
}

.star-rating .star-half:before {
    content: "\f459";
}

.star-rating .star-empty:before {
    content: "\f154";
}

.star-rating .star {
    color: #f0932b;
    display: inline-block;
    font-family: dashicons;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    width: 15px;
    height: 15px;
    line-height: 1;
    text-align: center;
    text-decoration: inherit;
    vertical-align: top;

}

/*#CSS:Read more  */
p.read-more__text {
    margin-bottom: 10px !important;
}

.read-more {
    --line-clamp: 4;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.read-more__text {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.read-more__label {
    margin-left: auto;
    margin-right: auto;
}

.read-more__checkbox {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.read-more__checkbox~.read-more__label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
}

/* Don't forget focus and hover styles for accessibility! */
/* .read-more__checkbox:focus~.read-more__label {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
} */

.read-more__checkbox:hover~.read-more__label {
    text-decoration: none;
}

.read-more__checkbox~.read-more__label::before {
    content: attr(data-read-more);
}

.read-more__checkbox:checked~.read-more__label::before {
    content: attr(data-read-less);
}

.read-more__checkbox:checked~.read-more__text {
    --line-clamp: none;
    -webkit-line-clamp: var(--line-clamp);
}

/* #CSS:Mobile */
@media screen and (max-width: 960px) {
    .col {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 520px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 820px) {
    .testimonial p {
        text-align: left !important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
    .testimonial p {
        text-align: left !important;
    }
}